/*
	"Native" DevTool colors are available at:  https://developer.mozilla.org/en-US/docs/Tools/DevToolsColors
*/

body {
	color: pink;
}

.theme-dark {
	color: #f5f7fa;
}

.theme-light {
	color: #ed2655;
}